# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# OS metadata
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Coverage reports
coverage/

# Build outputs
dist/
build/

# Optional npm cache
.npm/

# MongoDB dump files (if you ever use mongodump)
dump/

users.json
posts.json
node_modules/
